/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

*{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0;
  margin: 0;
}

nav{
  padding: 10px;
}

nav a{
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 70px;
  border-left: 2px solid transparent;
  padding-left: 4px;
}
 nav a.active {
   font-weight: bolder;
    color: yellow;
    text-decoration: solid;
    font-size: large;
    padding-left: 20px;
    /* border-left:  4px solid white; */
 }