form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form input{
    width: 300px;
    padding: 15px;
}
form label
{
    padding: 10px;
}