
.login-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
}


.login-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eef2ff;
}

.login-left img {
  max-width: 90%;
  height: auto;
}


.login-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.login-card {
  width: 380px;
  padding: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

.login-image {
  width: 80px;
  margin-bottom: 15px;
}

.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 14px;
  font-weight: 600;
}

.input-group input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}


button {
  width: 100%;
  padding: 10px;
  background: #4f46e5;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #4338ca;
}

.error-msg {
  color: red;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .login-wrapper {
    flex-direction: column;
  }

  .login-left {
    display: none;
  }
}
